<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div id="exercise">
  <div>
    <button @click="show=!show">Toggle</button>    
  <p v-if="show">Beni Görebiliyor musun?</p>
    <p v-else>Ya da beni görebiliyor musun?</p> 
    <p v-show="show">Beni Görebiliyor musun?</p>
    <p v-show="!show">Ya da beni görebiliyor musun?</p>
  </div>
  <ul>
    <li v-for="(value,valueitem, index) in array"> {{ item }} -- {{ index }}</li>
  </ul>
  <ul>
    <li v-for="(value, keyName, index) in customObject"> {{ keyName }} : {{ value }} - {{ index }}</li>
  </ul>
  <ul>
    <li v-for="value in testData">
      <template v-if="Array.isArray(value)"> 
      <div v-for="item in value"> {{ item }}</div>
    </template>   
    <template v-else>
      {{ value }}..
    </template>       
    </li>
  </ul>
</div>




<script type="text/javascript">
 new Vue({
  el: '#exercise',
  data: {
    show : false,
    array: ['Gökhan', 'Defne', 'Berk', 'Özge'],
    customObject: {
      title: 'Game of Thrones',
      author: 'George R.R',
      books: '7'
    },
    testData: {
      name: 'NesnedLoop', 
      id: 10,
      data: [3,45,19,14.02, 20.30, 20.18]
    }
  }
});

</script>

</body>
</html>










