<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
<div id="app">
  <p v-if="show">Beni Görebilirsin!</p>
  <p v-else>Beni görmen koşula bağlı</p>
  <button @click="show = !show">Göster/Gizle</button>

  <p v-if="sayi <10">Sayı 10'dan küçüktür</p>
  <p v-else-if="sayi >10">Sayı 10'dan büyüktür</p>
  <p v-else>Sayı 10'a eşittir</p>
</div>

<script type="text/javascript">
    new Vue({
   el : "#app",
   data: {
   	show : true,
   	sayi : 7
   }
   
});
</script>

</body>
</html>